@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
.textFont{
    -fx-font-family: Comfortaa;
    font-family: Comfortaa;
}

.button, .field {
    -fx-font-size: 24px;
    font-size: 24px;
}

.link {
    -fx-font-size: 15px;
    font-size: 15px;
}