@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
.textFont{
    -fx-font-family: Comfortaa;
    font-family: Comfortaa;
}

.button, .field {
    -fx-font-size: 24px;
    font-size: 24px;
}

.link {
    -fx-font-size: 15px;
    font-size: 15px;
}
.login-Scene-background-image{
    -fx-background-image: url("../assets/beautiful-fresh-relax-morning-coffee-cup-set.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto 400;
    -fx-background-position: center;
}
.label-color{
    -fx-text-fill: white;
}
.pane-background{
    -fx-background-color: rgba(233, 171, 96, 0.58);
    -fx-background-radius: 10px;
}